* {
    margin: 0;
    padding: 0;
}

.card {
    border: 5px dotted rgba(196, 165, 98, 0.7);
    flex-basis: 25%;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 2%;
    border-radius: 25px;
    overflow: hidden;
    height: 370px
}

.class-header h2, .class-header h3, .class-header h2 span {
    color: black
}

.class-header h2 span {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.5rem;
    color: #ab8205
}

.class-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 5%;
    width: 100%;
    border-bottom: 2px solid black;
}

.contents {
    padding: 2% 2% 10% 2%;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin: 3%;
    color: black
}

.buttons button {
    margin: 1%;
    padding: 1%;
    color: black
}

button {
    color: rgb(196, 165, 98);
    border: solid rgb(196, 165, 98) 2px;
    background-color: #1e1e1c;
    border-radius: 12px;
    width: 70px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    color: black;
    background-color: rgb(224, 158, 13);
    font-weight: bold;
}

h2 {
    margin-bottom: 2%;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.buttonSwitch {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.contents {
    line-height: 30px;
    padding-left: 7%;
}